# Environment variables
.env
config.env

# Project specific directories
.gradio/
archive/
writingPrompts/
datasets/

# Project specific files
newsapirough.text
fairy_tales.txt
result.json
trend_story.wav
*.wav
*.mp3
*.json
